<div>
  <h2>Task List z kategoriami</h2>
  
  @if (tasksWithCategories$ | async; as tasks) {
    <ul>
      @for (task of tasks; track task.id) {
        <li>
          {{ task.title }}
          @if (task.category) {
            <span [style.color]="task.category.color">
              {{ task.category.icon }} {{ task.category.name }}
            </span>
          }
        </li>
      }
    </ul>
  }

  <h3>Statystyki kategorii</h3>
  @if (categoryStats$ | async; as stats) {
    <ul>
      @for (stat of stats; track stat.categoryId) {
        <li>
          @if (stat.category) {
            {{ stat.category.icon }} {{ stat.category.name }}
          } @else {
            Bez kategorii
          }
          - Total: {{ stat.total }}, Active: {{ stat.active }}
        </li>
      }
    </ul>
  }
</div>